.App {
  font-family: sans-serif;
  text-align: center;
  /* margin-top: 30%; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #dfdfe5;
  font-size: 62.5%;
}
input {
  background: #c7c9d3;
  /* font-size: 20px; */
  width: 20rem;
  height: 3rem;
  border-radius: 1rem;
  outline: none;
  margin: 2rem 0;
}
input::placeholder {
  color: #a19e9e;
  text-align: center;
}
input:hover,
input:active,
input:focus {
  background: #fafafa;
  cursor: pointer;
}
h2 {
  color: #8b8e94;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

span {
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  /* border: 1px solid black; */
  margin: 0.2rem;
  width: 50%;
  margin: auto;
  text-align: center;
}
.emoji-box {
  display: inline-block;
  width: 22%;
  margin: auto;
  border: 1px solid f9f9f9;
}
